<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建订单</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
</head>
<body>
	<div class="container" style="">
		<div class="jumbotron">
	<h1>订单</h1>
		<form action="{% url 'order:create_shopcart_order' %}" method="post" enctype="multipart/form-data">
		
				所有商品：{{request.session.b}}<br>
				总数量：{{request.session.c}}<br>
				结算值：{{request.session.a}}<br>
				收货人：{{request.user.users.mickname}}<br>
				收货地址：<select name="">
							{% for i in request.user.address_set.all %}
							<option value="">
							{{i.native}}-
							{{i.provice}}-
							{{i.city}}-
							{{i.country}}-
							{{i.street}}-
							{{i.desc}}
							</option>
							{% endfor %}
						</select>
							<a href="/address/found_address">添加地址</a>
		
				<br>
				联系方式：{{request.user.users.phone}}<br>
				备注信息：<input type="" name="" id="" value="" /><br>
		
				<input type="submit" value="提交"/>
			</form>
</div>

	</div>
	
</body>
</html>