<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/static/res/static/css/main.css">
  <link rel="stylesheet" type="text/css" href="/static/res/layui/css/layui.css">
  <script type="text/javascript" src="/static/res/layui/layui.js"></script>
	<script src="/static/js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>

  <div class="site-nav-bg">
    <div class="site-nav w1200">
      <p class="sn-back-home">
        <i class="layui-icon layui-icon-home"></i>
        <a href="/">首页</a>
      </p>
      <div class="sn-quick-menu">
            <div class="login">欢迎 <span style="font-size:20px">{{request.user.users.mickname}}</span> 用户登录</div>
            <div class="login"><a href="/store/list_store">我的店铺</a></div>
            <div class="login"><a href="/address/list_address">收货地址</a></div>
            <div class="login"><a href="/user/data_data">个人资料</a></div>
            <div class="login"><a href="/user/login_user/">登录</a></div>
            <div class="login"><a href="/user/regist_user/">注册</a></div>
            <div class="login"><a href="/user/logout_user/">登出</a></div>
            <div class="sp-cart"><a href="/shopcart/shopcart">购物车</a><span>2</span></div>
        </div>
    </div>
  </div>



  <div class="header">
    <div class="headerLayout w1200">
      <div class="headerCon">
        <h1 class="mallLogo">
          <a href="#" title="母婴商城">
            <img src="/static/res/static/img/logo.png">
          </a>
        </h1>
        <div class="mallSearch">
          <form action="" class="layui-form" novalidate>
            <input type="text" name="title" required  lay-verify="required" autocomplete="off" class="layui-input" placeholder="请输入需要的商品">
            <button class="layui-btn" lay-submit lay-filter="formDemo">
                <i class="layui-icon layui-icon-search"></i>
            </button>
            <input type="hidden" name="" value="">
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="content content-nav-base about-content">
    <div class="main-nav">
      <div class="inner-cont0">
        <div class="inner-cont1 w1200">
          <div class="inner-cont2">
            <a href="{% url 'user:index' %}">所有商品</a>
            <a href="/">今日团购</a>
            <a href="/">商品资讯</a>
            <a href="/user/about/"  class="active">个人资料</a>
          </div>
        </div>
      </div>
    </div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div style="font-size: 18px;">
			{% comment %}
			{% if {{request.user.users.feader__startswith='static'}} %}
			头像：<img src="/{{request.user.users.feader}}" alt="" width="300px" height="300px"><br>
			{% endif %}
			{% endcomment %}
			{% comment %}
			<div class="container">
				<table border="1" cellspacing="" cellpadding="">
					<tr><td>个人资料</td></tr>
					<tr><td>Data</td></tr>
					<tr><td>Data</td></tr>
					<tr><td>Data</td></tr>
					<tr><td>Data</td></tr>
					<tr><td>Data</td></tr>
				</table>
			</div>
			{% endcomment %}
			<div>
				<table border="1">
					<tr>
						<th>头像</th>
						<th>名字</th>
						<th>年龄</th>
						<th>性别</th>
						<th>电话</th>
						<th>资料</th>
						<th>密码</th>
					</tr>
					<tr>
						<td><img src="/{{request.user.users.feader}}" alt="" height="100px"></td>
						<td>{{request.user.users.mickname}}</td>
						<td>{{request.user.users.age}}</td>
						<td>{{request.user.users.gender}}</td>
						<td>{{request.user.users.phone}}</td>
						<td><a href="/user/data_user">修改资料</a></td>
						<td><a href="/user/data_pwd">修改密码</a></td>
					</tr>
				</table>
			</div>
		</div>


    <div class="after-sale w1200">
      <h4>配送售后</h4>
      <div class="item-box">
        <div class="item item1">
          <div class="img-box">
            <img src="/static/res/static/img/us_icon1.png">
          </div>
          <p>7天无理由退换货</p>
        </div>
        <div class="item item2">
          <div class="img-box">
            <img src="/static/res/static/img/us_icon2.png">
          </div>
          <p>全场满99元顺丰包邮</p>
        </div>
        <div class="item item3">
          <div class="img-box">
            <img src="/static/res/static/img/us_icon3.png">
          </div>
          <p>优质客服服务</p>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">

layui.config({
    base: '/static/res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm'],function(){
      var
     mm = layui.mm;



});
</script>
</body>
</html>